*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
html {
  height: auto;
  max-width: 100vw;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}
body {
  height: auto;
  min-height: 100vh;
  padding: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 0.25fr 1fr;
  background-color: #fdfdfd;
}
/* Navbar */
nav {
  border-radius: 0.25rem;
  background-color: rgb(7, 11, 214);
}
ul.nav-btn-list {
  padding: 1rem 0 1rem 1rem;
  list-style-type: none;
}
li.nav-btn-container {
  padding: 0.5rem 1rem;
  margin: 0.25rem 0 0.25rem 0.25rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
li.active {
  background-color: #fdfdfd;
  position: relative;
}
li.active > span:first-child {
  display: inline-block;
  height: 20px;
  width: 100%;
  position: absolute;
  top: -20px;
  right: 0;
  background-color: #fdfdfd;
}
li.active > span:first-child::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(7, 11, 214);
  border-bottom-right-radius: 1rem;
}
li.active > span:last-child {
  display: inline-block;
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: -20px;
  right: 0;
  background-color: #fdfdfd;
}
li.active > span:last-child::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(7, 11, 214);
  border-top-right-radius: 1rem;
}
button.nav-btn {
  padding: 0.5rem 1rem;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  color: #fdfdfd;
  border: none;
  font-size: 1.0125rem;
  cursor: pointer;
}
li.active button.nav-btn {
  color: #222222;
  font-weight: bold;
}
span.nav-icon {
  display: inline-block;
  margin-right: 1rem;
}
span.nav-title{
  font-family: 'Inter', sans-serif;
}
/* Main */
main{
    height: auto;
    min-height: 100%;
}
section{
    height: auto;
    min-height: 100%;
    padding: 1rem;
    background-color: #e6e6e6;
    border-radius: 0.5rem;
}
section.hide{
    display: none;
}
section.show{
    display: block;
}
h2.section-heading{
    font-size: 2rem;
    display: grid;
    place-content: center;
}
/* Home Section */
section#home.show{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.125fr 1fr;
    gap: 0.5rem;
}
article.home-content{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
div.home-image{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}
div.home-qna{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

div.home-qna p{
    font-size: 1.125rem;
    line-height: 2rem;
}
/* Idea Section */
section#idea.show{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.125fr 1fr;
  gap: 0.5rem;
}
div.idea-image{
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
}
article.idea-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-content: center;
}
p.idea-desc-tile{
  font-size: 1.125rem;
  margin: 1rem 0.5rem;
}
ul.idea-desc-list{
  padding: 1rem;
  margin: 0.5rem 1rem;
  list-style-type: none;
}
li.idea-desc-container{
  margin: 1rem 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
i.check-mark{
  display: inline-block;
  margin-right: 1rem;
  color: rgb(7, 11, 214);
}
p.idea-desc{
  font-size: 1.0125rem;
  line-height: 1.5rem;
  text-align: left;
}
/* Contribute Section */
section#contribute.show{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.125fr 1fr;
  gap: 0.5rem;
}
article.contribute-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-content: center;
}
div.contribute-image{
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
}
div.contribute-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h2.article-title{
  flex: 0.25;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.contribute-desc{
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1.5rem;
  align-content: center;
}

div.contribute-desc > p{
  font-size: 1.125rem;
  line-height: 2rem;
  text-align: justify;
}
a.contribute-btn{
padding: 1rem 1.5rem;
background-color: rgb(7, 11, 214);
color: #fdfdfd;
text-decoration: none;
text-align: center;
border-radius: 0.5rem;
}
/* Fonts Reference */
/* 

font-family: 'Inter', sans-serif; // 300, 500

font-family: 'Ubuntu', sans-serif; // 300, 500

*/